.auth-header {
  height: 12vh;
  width: 85%;
  margin: auto;
}
.landing-header {
  height: 12vh;
  width: fit-content;
  margin: auto;
}
.auth-header .title {
  margin-top: 25px;
}
.auth-header .App-logo {
  height: 20px;
  height: 21px;
}
.auth-header .App-title {
  font-weight: 600;
  margin-left: 10px;
}
.auth-main {
  width: 100%;
  height: 120vh;
  margin: auto;
  display: flex;
  margin-bottom: 50px;
}
.auth-main .main-common {
  height: 100%;
}
.bg-image {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(../../assets/images/auth-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-image-lg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../../assets/images/auth-bg-login.jpg);
}
.contain-text h1,
.contain-text p {
  width: fit-content;
  margin-block: 10px;
}
.contain-form {
  background-color: var(--main-color);
  width: 100%;
}
.contain-form form {
  width: 80%;
  height: 85%;
  margin: 45px auto;
  color: white;
}
form p,
form h2 {
  margin-block-end: 25px;
}
form input,
form button {
  border: 1px solid var(--secondary-color);
  width: 100%;
  background-color: transparent;
  border-radius: 5px;
  margin-block: 10px;
  padding: 15px;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
}
form #submit {
  background-color: var(--primary-color);
}
form #submit:hover {
  background: #397aeb;
  cursor: pointer;
}
form button {
  background-color: var(--app-white);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
button img {
  margin-inline: 5px;
}
form input:focus {
  outline: 3px solid var(--primary-color);
}
form input[type="checkbox"] {
  width: 25px;
  height: 25px;
  border: 1px solid var(--secondary-color);
  background-color: var(--main-color);
  outline: none;
}
form .alt-login {
  margin: auto;
  width: fit-content;
}
form .alt-login a {
  text-decoration: none;
  color: var(--primary-color);
}
form .line {
  display: block;
  width: 50%;
  height: 2px;
  background-color: var(--secondary-color);
}
.split {
  display: flex;
  align-items: center;
}
.split .center-text {
  padding-inline: 20px;
}
