/* .navbar {
    height: 80px;
    font-size: 14px;
    color: black;
    display: flex;
    background-color: #FFF;
    padding: 0 4rem;
   
} */
.navbar {
    height: 80px;
    font-size: 14px;
    color: black;
    display: flex;
    background-color: #FFF;
    padding: 0 4rem;
    /* position: fixed;
    width: 85%;
    right: 0; */
    position: sticky;
    top: 0;
    z-index: 1000;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: -webkit-sticky; 
    position: sticky;
    top: 0; 
    z-index: 1000;
}
.user-image{
    width: 36px;
height: 36px;
border-radius: 100%;

}

.navTitle {
    color: #252733;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.3px;
}

.navIconbar {
    padding-top: 0.5rem;
}

.Iconbar {
    display: flex;
    flex-direction: row;
}

.icon {
    color: #C5C7CD;
    font-size: 20px;
    cursor: pointer;
}

.navName {
    font-size: 14px;
    font-weight: 600;
    color: #252733;
    padding-left: 3rem;
}

ul {
    list-style: none;
}

li {
    padding-left: 1rem;
    display: flex;
    align-items: center;
}


/* Search */

.search-container {
    display: flex;
    align-items: center;
    width: 365px;
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    padding: 5px 10px;
    background: #FFF;
}

.search-container::placeholder {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
}

.search-icon {
    margin-right: 5px;
    color: #757575;
}
@media (max-width: 821px) {
    .navbar {
        height: 60px;
        font-size: 12px;
        display: flex;
        padding: 0 2rem;
        
    }
    .search-container {
        display: flex;
        align-items: center;
        width: 200px;
        border: 1px solid #EFEFEF;
        border-radius: 5px;
        padding: 5px 10px;
        background: #FFF;
    }
    .navName {
        font-size: 12px;
        padding-left: 1.5rem;
    }
    
    li {
        padding-left: 0.5rem;
        
    }
    @media (max-width: 601px) {
        .search-container {
            display: none;
            /* align-items: center;
            width: 200px;
            border: 1px solid #EFEFEF;
            border-radius: 5px;
            padding: 5px 10px;
            background: #FFF; */
        }
    }
}
