@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: #151425;
  --primary-color: #206ef3;
  --secondary-color: #727c85;
  --app-white: #f5f5f5;
}
body {
  font-family: "Poppins", sans-serif;
}
a{
  text-decoration: none;
  color: inherit;
}

.flex{display: flex;}
.flex-center-row{justify-content: center;}
.flex-center-column{align-items: center;}
.flex-center{
  justify-content: center;
  align-items: center;
}
.flex-column{flex-direction: column;}
.flex-around{justify-content: space-around;}
.flex-between{justify-content: space-between;}
.flex-evenly{justify-content: space-evenly;}

.fade-text{opacity: .8;}
.center-text{text-align: center;}
.bold-1{font-weight: 600;}
.bold-2{font-weight: 700;}
.bold-3{font-weight: 800;}
.bold-4{font-weight: 900;}
.small-text{font-size: .8rem;}
.small-text1{font-size: .9rem;}
.normal-text{font-size: 1rem;}
.medium-text{font-size: 1.2rem;}
.big-text{font-size: 1.5rem;}
.bigger-text{font-size: 2rem;}

::-webkit-scrollbar {
  width: 7px;
}

@media (max-width: 800px) {
  .r-flex{display: flex;}
  .r-flex-center-row{justify-content: center;}
  .r-flex-center-column{align-items: center;}
  .r-flex-center{
    justify-content: center;
    align-items: center;
  }
  .r-flex-column{flex-direction: column;}
  .r-flex-around{justify-content: space-around;}
  .r-flex-between{justify-content: space-between;}
  .r-flex-evenly{justify-content: space-evenly;}
  .r-center-text{text-align: center;}
}
/* ::-webkit-scrollbar-track {

} */
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 25px;
}