nav {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  align-items: center;
  position: sticky;
  top: 0%;
  width: 100%;
  background: white;
  z-index: 99;
}

nav header {
  display: flex;
  align-items: center;
}
nav header .App-logo {
  height: 25px;
  height: 25px;
  margin-right: 7px;
}
nav header .App-title {
  font-weight: 600;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  margin-inline: 15px;
}
nav ul li {
  margin-inline: 15px;
}
nav ul li:hover .line {
  width: 100%;
  transition: 0.5s;
}
nav button {
  padding: 12px 45px 12px 45px;
  margin-inline: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

/* Button Flow Effect start*/
nav button .flow {
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: inherit;
  left: 0;
  top: 0;
  padding: 12px 0 12px 0;
  transition: 0.2s;
}
nav button span {
  position: relative;
  z-index: 999;
}
nav .btn .signup .flow {
  background: var(--primary-color);
}
nav .btn .signin .flow {
  background: #edecff;
}
nav .btn button:hover  .btn .signup{
  color: var(--app-white);
}
nav .btn button:hover  .btn .signin span{
  color: blue;
}
nav .btn button:hover .flow {
  width: 100%;
  padding: 12px 48px 12px 48px;
}
/* Button Flow Effect End */

nav .btn .signup {
  background: #edecff;
  color: var(--primary-color);
}
nav .btn .signin {
  background: var(--primary-color);
  color: var(--app-white);
}
.intro {
  height: 800px;
  background: #f5f7fa;
  padding-top: 45px;
}
.intro .contain-all {
  margin: auto;
  width: 90%;
}
.intro .contain-all .intro-text {
  display: flex;
}
.intro .contain-all .intro-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
.intro .contain-all .intro-text-desc {
  display: flex;
  justify-content: left;
  align-items: center;
  padding-right: 80px;
}
.intro img {
  width: 100%;
}
.line {
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: 0.5s;
}
.contain-categories {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 5%;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.contain-categories .each-item {
  padding: 15px;
  background: #ebebff;
  display: flex;
}
.contain-categories .each-item .ico {
  width: 70px;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain-categories .each-item .text {
  margin: 10px 0 0 15px;
}
.categories h1 {
  margin: 20px auto;
  width: fit-content;
}
.categories .last-text {
  margin: auto;
  margin-block: 25px;
  width: fit-content;
}
.third-section {
  background: #f5f7fa;
  height: 70vh;
}
.third-section .contain-main {
  width: 80%;
  height: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
}
.third-section .contain-main .third-desc {
  padding-right: 25px;
  margin-block: 10px;
  width: 55%;
}
.third-section .contain-main .third-desc h1 {
  line-height: 1.5em;
  font-size: 2em;
}
.third-section .contain-main .third-desc p {
  margin-block: 10px;
}
.third-section .contain-main .third-img {
  width: 45%;
  margin: auto;
}
.third-section .contain-main .third-img img {
  width: 100%;
}
.third-section .contain-main .third-img img {
  height: 100%;
}
.fourth-section {
  padding-block: 25px;
}
.fourth-section #firstheading,
.fourth-section #first-p {
  margin: auto;
  width: fit-content;
  margin-block: 5px;
}
.fourth-section .courses {
  width: 90%;
  margin: 20px auto;
  font-size: 0.8em;
  display: flex;
  justify-content: space-evenly;
}
.fourth-section .courses img {
  width: 100%;
  height: 60%;
  margin: auto;
}
.fourth-section .course {
  width: 22%;
  border: 1px solid #ccc;
  padding-bottom: 10px;
  border-radius: 3px;
  height: fit-content;
}
.fourth-section .course p {
  width: 90%;
  margin: 5px 15px;
}
.fourth-section .course .text-p {
  height: 12vh;
}
.fourth-section .course button {
  width: 90%;
  margin: 5px 15px;
  padding: 10px;
  background-color: #edecff;
  border: none;
  color: var(--primary-color);
  border-radius: 3px;
}
.long-line {
  height: 1px;
  background-color: #ccc;
  margin-block: 3px;
}

.fifth-section {
  height: 115vh;
  background-color: #f5f7fa;
  padding: 65px;
  display: flex;
}

.fifth-section .instructor {
  width: 50%;
  height: 60%;
  margin: 5px;
  position: relative;
  background-color: white;
}
.fifth-section .instructor:first-child {
  background: linear-gradient(to right, #4b6592, #005cfa);
  color: white;
}
.fifth-section .instructor:first-child button {
  margin-left: 25px;
  padding: 15px 50px 15px 50px;
  background-color: white;
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-weight: bold;
}
.fifth-section .instructor:first-child .align-text {
  width: 60%;
  margin: 25px;
}
.fifth-section .instructor img {
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 5%;
}

.fifth-section .instructor:last-child h1,
.fifth-section .instructor:last-child ol {
  margin: 25px;
}
.fifth-section .instructor:last-child ol {
  display: grid;
  grid-template-columns: 4fr 4fr;
  list-style: none;
  font-size: 14px;
}
.fifth-section .instructor:last-child ol li {
  margin: 15px 5px;
}
.fifth-section .instructor:last-child ol li span {
  border-radius: 50%;
  background-color: #efefef;
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 700;
}
.sixth-section {
  height: 80vh;
  /* position: relative; */
}
.sixth-section .ontop {
  height: 75vh;
  width: 85%;
  position: relative;
  background-color: #fff;
  top: -30%;
  margin: auto;
}
.ontop h1 {
  margin-top: 10px;
}
.ontop .teachers {
  width: 75%;
  margin: 40px auto;
}
.ontop .teachers .teacher {
  width: 25%;
  margin: 12px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.ontop .teachers .teacher img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}
.ontop .teachers .teacher p {
  font-size: 14px;
}
.ontop .teachers .teacher .ratings {
  font-size: 12px;
  border-top: 1px solid #ccc;
  padding: 5px;
}
.trusted-companies {
  display: flex;
  width: 80%;
  margin: auto;
}
.trusted-companies-desc h1 {
  font-size: 33px;
}
.trusted-companies-logo {
  width: 60%;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
}
.companies-logo {
  height: 10vh;
  width: 10vw;
  box-shadow: 0.1px 0.1px 5px #ccc;
  margin-bottom: 15px;
  padding-bottom: 70px;
}
.companies-logo img {
  display: block;
  margin: auto;
}
