nav {
  display: flex;
  justify-content: space-around;
  height: 12vh;
  align-items: center;
  position: sticky;
  top: 0%;
  width: 100%;
  background: white;
  z-index: 99;
}

nav header {
  display: flex;
  align-items: center;
}
nav header .App-logo {
  height: 25px;
  height: 25px;
  margin-right: 7px;
}
nav header .App-title {
  font-weight: 600;
}
nav ul,
.nav-footer {
  display: flex;
  list-style: none;
}
nav ul li,
.nav-footer li {
  margin-inline: 15px;
}
nav ul li:hover .line {
  width: 100%;
  transition: 0.5s;
}
nav button, .intro .btn button {
  padding: 12px 45px 12px 45px;
  margin-inline: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
}

.signup {
  background: #edecff;
  color: var(--primary-color);
}
.signin{
  background: var(--primary-color);
  color: var(--app-white);
}

/* Button Flow Effect start*/
nav button .flow, .intro .btn button .flow {
  position: absolute;
  height: 100%;
  width: 0;
  border-radius: inherit;
  left: 0;
  top: 0;
  transition: 0.2s;
  opacity: 0;
}
 .btn .signup .flow {
  background: var(--primary-color);
  color: #edecff;
}
 .btn .signin .flow {
  background: #edecff;
  color:  var(--primary-color);
}
 .btn button:hover .flow{
  padding: inherit;
  width: 100%;
  opacity: 1;
}
/* Button Flow Effect End */

.intro {
  height: fit-content;
  background: #f5f7fa;
  padding-top: 45px;
}
.intro .contain-all {
  margin: auto;
  width: 90%;
}
.intro .contain-all .intro-text {
  display: flex;
  align-items: center;
}
.intro .contain-all .intro-text h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-right: 15px;
}
.intro img {
  width: 100%;
}
.line {
  height: 2px;
  width: 0;
  background-color: var(--primary-color);
  transition: 0.5s;
}
.contain-categories {
  display: grid;
  grid-template-columns: 4fr 4fr 4fr;
  gap: 5%;
  width: 80%;
  margin: auto;
  padding-bottom: 50px;
}
.contain-categories .each-item {
  padding: 15px;
  background: #ebebff;
  display: flex;
}
.contain-categories .each-item .ico {
  width: 70px;
  height: 70px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contain-categories .each-item .text {
  margin: 10px 0 0 15px;
}
.categories h1 {
  margin: 20px auto;
  width: fit-content;
  font-size: 1em;
}
.categories .last-text {
  margin: auto;
  margin-block: 25px;
  width: fit-content;
}
.third-section {
  background: #f5f7fa;
  height: 70vh;
}
.third-section .contain-main {
  width: 80%;
  height: 80%;
  margin: auto;
  padding-top: 50px;
  display: flex;
}
.third-section .contain-main .third-desc {
  padding-right: 25px;
  margin-block: 10px;
  width: 55%;
}
.third-section .contain-main .third-desc h1 {
  line-height: 1em;
  font-size: 2em;
}
.third-section .contain-main .third-desc p {
  margin-block: 10px;
}
.third-section .contain-main .third-img {
  width: 45%;
  margin: auto;
}
.third-section .contain-main .third-img img {
  width: 100%;
}
.third-section .contain-main .third-img img {
  height: 100%;
}
.fourth-section {
  padding-block: 25px;
}
.fourth-section #firstheading,
.fourth-section #first-p {
  margin: auto;
  width: fit-content;
  margin-block: 5px;
}
.fourth-section .courses {
  width: 90%;
  margin: 20px auto;
  font-size: 0.8em;
  display: flex;
  justify-content: space-evenly;
}
.fourth-section .courses img {
  width: 100%;
  height: 60%;
  margin: auto;
}
.fourth-section .course {
  width: 22%;
  border: 1px solid #ccc;
  padding-bottom: 10px;
  border-radius: 3px;
}
.fourth-section .course p {
  width: 90%;
  margin: 5px 15px;
  height: fit-content;
}
.fourth-section .course .text-p {
  height: 12vh;
  width: 100%;
}
.fourth-section .course button {
  width: 90%;
  margin: 5px;
  padding: 10px;
  background-color: #edecff;
  border: none;
  color: var(--primary-color);
  border-radius: 3px;
}
.long-line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
  margin-block: 3px;
}

.fifth-section {
  height: 115vh;
  background-color: #f5f7fa;
  padding: 65px;
  display: flex;
}

.fifth-section .instructor {
  width: 50%;
  height: 60%;
  margin: 5px;
  position: relative;
  background-color: white;
}
.fifth-section .instructor:first-child {
  background: linear-gradient(to right, #4b6592, #005cfa);
  color: white;
}
.fifth-section .instructor:first-child button {
  margin-left: 25px;
  padding: 15px 50px 15px 50px;
  background-color: white;
  color: var(--primary-color);
  border: none;
  border-radius: 4px;
  font-weight: bold;
}
.fifth-section .instructor:first-child .align-text {
  width: 60%;
  margin: 25px;
}
.fifth-section .instructor img {
  height: 90%;
  position: absolute;
  bottom: 0;
  right: 5%;
}

.fifth-section .instructor:last-child h1,
.fifth-section .instructor:last-child ol {
  margin: 25px;
}
.fifth-section .instructor:last-child ol {
  display: grid;
  grid-template-columns: 4fr 4fr;
  list-style: none;
  font-size: 14px;
}
.fifth-section .instructor:last-child ol li {
  margin: 15px 5px;
}
.fifth-section .instructor:last-child ol li span {
  border-radius: 50%;
  background-color: #efefef;
  color: var(--primary-color);
  width: 50px;
  height: 50px;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 700;
}
.sixth-section {
  height: 95vh;
}
.sixth-section .ontop {
  width: 85%;
  position: relative;
  background-color: #fff;
  margin: auto;
  top: -30%;
}
.ontop h1 {
  padding-top: 20px;
}
.ontop .teachers {
  width: 75%;
  margin: 30px auto;
}
.ontop .teachers .teacher {
  width: 25%;
  margin: 12px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.ontop .teachers .teacher img {
  width: 100%;
  border-bottom: 1px solid #ccc;
  border-radius: 5px;
}
.ontop .teachers .teacher p {
  font-size: 14px;
}
.ontop .teachers .teacher .ratings {
  font-size: 12px;
  border-top: 1px solid #ccc;
  padding: 5px;
}
.trusted-companies {
  margin-top: 17px;
  padding-block: 25px;
  height: fit-content;
}
.trusted-companies-desc h1 {
  font-size: 33px;
}
.trusted-companies-logo {
  width: 60%;
  display: grid;
  grid-template-columns: 4fr 4fr 4fr 4fr;
}
.companies-logo {
  height: 9vh;
  width: 10vw;
  box-shadow: 0.1px 0.1px 5px #ccc;
  margin-bottom: 15px;
  padding-bottom: 70px;
}
.companies-logo img {
  display: block;
  margin: auto;
  width: 55%;
}
footer {
  height: fit-content;
  background: #151425;
  color: white;
}
footer .aim {
  padding: 40px 75px;
  width: 35%;
  line-height: 2rem;
}
footer .aim span {
  margin-left: 10px;
}
footer aside {
  width: 65%;
}
footer aside div {
  margin-top: 45px;
  height: 30vh;
}
footer aside div ul {
  list-style: none;
  line-height: 1.9rem;
}
.copyright {
  width: 100%;
  height: 10vh;
  background-color: #206ef3;
  color: white;
}
.bar{
  display: none;
  z-index: 999;
}
.r-btn{
 display: none;
}
@media (max-width: 820px) {
  .w-btn{
    display: none;
   }
  .r-btn{
    display: block;
    margin-block: 20px;
   }
  body{
    position: relative;
  }
  nav{
    padding-inline: 50px;
    font-size: 14px;
  }
  .bar{
    display: block;
  }
  .res-menu{
    position: fixed;
    background-color: var(--app-white);
    width: 100%;
    height: 100vh;
    right: -100%;
    top: 0;
    transition: .5s;

    z-index: 99;
    color: black; 
   }
   .res-menu li:first-child {
    margin-top: 35px;
   }
   .res-menu li {
    margin: 15px;
   }
   .appear{
    right: 0;
    transition: .5s;
   }
   .contain-categories {
    grid-template-columns: 4fr 4fr;
    width: fit-content;
    margin-bottom: 70px;
    width: 80%;
  }
   .contain-categories .each-item {
    padding: 0;
    width: 100%;
    height: 70px;
  }
 .contain-categories .each-item .ico {
   width: 40px;
   height: 40px;
   background: white;
  }
  .contain-categories .each-item .text {
    font-size: 12px;
    margin: 0 0 0 7px;
  } 
  .categories .last-text {
    text-align: center;
    font-size: 12.5px;
  } 
  .third-section {
    background: #f5f7fa;
    height: fit-content;
  }
  .third-section .contain-main {
    width: 80%;
    height: 80%;
    margin: auto;
    padding-top: 0;
  }
  .third-section .contain-main .third-desc {
    width: 100%; 
  }
  .third-section .contain-main .third-desc h1 {
    line-height: 1.2em;
    margin: auto;
    font-size: 1.2em;
    text-align: center;
  }
  .third-section .contain-main .third-desc p {
    font-size: 14px;
    text-align: center;

  }
  .third-section .contain-main .third-img {
    width: 100%; 
  }
  .fourth-section {
    padding-block: 0;
  }
  .fourth-section  .courses {
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr;
  }
  .fourth-section .courses img {
    height: 22vh;
  }
  .fourth-section .course .text-p {
    height: fit-content;
    padding-inline: 5px;
  }
  .fourth-section .course p {
    width: 100%;
    margin: 0;
  }
  .fourth-section .course {
    font-size: 11px;
    width: auto;
    border: 1px solid #ccc;
    padding-bottom: 5px;
    border-radius: 3px;
    margin: 15px 5px; 
    justify-self: center;
  }
  .fourth-section #firstheading{
    font-size: 1em;
  }
.fourth-section #first-p {
  font-size: .75rem;
}
.fifth-section {
  height: fit-content;
  padding: 40px 0;
  display: block;
}
.fifth-section .instructor {
  width: 100%;
  font-size: 13px;
  height: fit-content;
  padding-block: 10px;
  margin: 30px 0 ;
}
.fifth-section .instructor:first-child .align-text {
  width: 60%;
  margin: 10px;
}
.fifth-section .instructor:first-child button {
  padding: 15px 40px 15px 40px;
  margin-left: 10px;
}

.fifth-section .instructor img {
  right: 0;
}
.sixth-section {
  height: fit-content;
}
.sixth-section .ontop {
  width: 100%;
  position: static;
}
.sixth-section .ontop h1{
  font-size: 20px;
}
.ontop .teachers {
  width: 100%;
  margin: 30px auto;
}
.ontop .teachers .teacher {
  width: 30%;
  margin: 10px 5px;
  height: fit-content;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.ontop .teachers .teacher div{
  font-size: 11px;
}
.ontop .teachers .teacher p{
  font-size: 12px;
}
.ontop .th{
  font-size: 14px;
}
.trusted-companies-logo {
  width: 80%;
}
.trusted-companies-desc {
  padding: 12px;
}
.trusted-companies-desc h1 {
  font-size: 20px;
}
.trusted-companies-desc p {
  font-size: 12px;
}
.companies-logo {
  height: fit-content;
  width: 18vw;
  padding: 0;
}
.companies-logo img {
  margin: auto;
  width: 80%;
}
footer{
  font-size: 12px;
}
footer .aim {
  padding: 20px;
  width: 100%;
  line-height: 2rem;
}
footer .aim span {
  margin-left: 0;
} 
footer aside {
  width: 100%;
}
footer aside div {
  margin: 0;
  height: fit-content;
  padding: 25px 10px ;
  font-size: 11px;
}
}
@media (max-width: 360px) {
  .fifth-section .instructor img {
    /* height: 80%; */
    width: 120px;
  }
}